body {
    font-family: Arial;
}
table { 
    border-spacing: 10px;
    border-collapse: separate;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
.footer {
	font-size: 11px;
}

#frmLogin {
	margin-top:15%;
	margin-left:32%;
}

input, select  {
	padding: 8px;
	border-radius: 3px;
    font-size: 12px;
}

input[type="text"], input[type="password"], select  {
	width: 350px;
}

input.txtFilter {
    width: 100%;
}

.center {
    text-align: center;
}

#notif p {
	background-color: yellow;
	padding:10px;
}
#menus ul {
    padding: 0;
}

#menus ul li {
    display: inline;
}

#menus ul li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

#menus ul li a:hover {
    background-color: orange;
}